*.o
*.png
**/__pycache__/**
*.dat
*.pdf
black_formatting_env/**
GRACKLE_INFO
**/restart/
**/*~
compile_commands.json
ionization_front_radius.txt

makemovie.sh
checkTemperature.py
check_densities.py
test_timestep.py
pycollection
gather_python_scripts.sh
**/.cache
